.media-storage-library .thumbnail {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    margin-right: 20px;
}
.media-storage-library .thumbnail img {
    max-height: 250px;
    overflow: hidden;
}
